<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link href="css/styles.css" type="text/css" rel="stylesheet" /> 
	</head>
	<body>
		<h1><%= title %></h1>
		<img src="img/nodejs.png" id="nodeLogo" alt="NodeJS Logo"/>
	</body>
</html>
